.st1{
    margin: 6% 0;

}
.st{
    margin: 5% 0;
    padding: 0 15%;
}
.st_logo{
    
    font-weight: 700;
    font-size: 2.1rem;
}
.st>P{
    color: rgb(144,144,144);
    font-size: 1.5rem;
}
.grid_layout{
    padding: 0 10%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
}
.grid_item{
    background-color: rgb(34,37,41);
    color: rgb(227,228,228);
    padding: 1rem;
    border-radius: 1rem;
}
.first_item{
    margin: 1rem;
    display: flex;
    align-items: center;
    gap: 1rem;
}
.first_item div{
    padding:0.5rem 1rem;
    border: 1px solid rgba(235, 224, 224, 0.842);
    border-radius: 12px;
}
.first_item div img{
    background-color: rgb(34,37,41);
    width: 2rem;
}
.first_item h3{
    font-weight: 300;
}

.second_item p{
    font-size: 0.8rem;
    font-weight: 200;
}
.third_item{
    display: flex;
    gap: 1rem;
}
.third_item{
    font-size: 0.7rem;
}